.page {
  padding: 24px 52px 40px;
  background: #f9f9f9;
}

.subtitle {
  margin: -10px 0 16px 50px;

  color: #24499b;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 6px;
}

.subtitle img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.sectionTitle {
  margin: 26px 0 16px;

  font-family: "Bowlby One", sans-serif;
  color: #079bd3;

  font-size: 28px;
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.ticketButton {
  margin-top: 24px;
}

.note {
  margin-top: 14px;
  background: #24499b;
  color: #f9f9f9;
  border-radius: 12px;
  padding: 10px 14px;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 12px;
}

.note img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .page {
    padding: 22px 28px 36px;
  }

  .subtitle {
    margin: -28px 0 20px 42px;

    font-size: 14px;
    letter-spacing: 0;
  }

  .subtitle img {
    width: 20px;
    height: 20px;
  }

  .sectionTitle {
    font-size: 20px;
    margin-top: 22px;
  }

  .list {
    gap: 14px;
  }

  .note {
    font-size: 10px;
    padding: 9px 12px;
    gap: 8px;
    border-radius: 10px;
  }

  .note img {
    width: 30px;
    height: 30px;
  }
}