.page {
  position: relative;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
}

.content {
  position: relative;
  min-height: calc(100vh - 72px);
  padding: 34px 28px 130px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}