.friendsPanel {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-top: 14px;
}

.friendItem {
  position: relative;

  display: grid;
  grid-template-columns: 96px 1fr auto;
  align-items: center;
  column-gap: 22px;

  padding-bottom: 18px;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #079bd3;
}

.info h3 {
  margin: 0 0 10px;
  color: #24499b;
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
}

.location {
  display: flex;
  align-items: center;
  gap: 7px;

  color: #24499b;
  font-size: 18px;
  font-weight: 500;
}

.location img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.batteryWrapper {
  position: relative;
  width: 52px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.battery {
  width: 52px;
  object-fit: contain;
}

.percent {
  position: absolute;
  color: #079bd3;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}

.divider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 1px;
  background: rgba(0, 0, 0, 0.35);
}

@media (max-width: 600px) {
  .friendsPanel {
    gap: 14px;
    padding-top: 6px;
  }

  .friendItem {
    grid-template-columns: 62px 1fr auto;
    column-gap: 20px;
    padding: 10px 0px;
  }

  .avatar {
    width: 62px;
    height: 62px;
    border-width: 3px;
  }

  .info h3 {
    font-size: 22px;
    margin-bottom: 4px;
  }

  .location {
    font-size: 16px;
    gap: 4px;
  }

  .location img {
    width: 16px;
    height: 16px;
  }

  .batteryWrapper {
    width: 32px;
    height: 16px;
  }

  .battery {
    width: 32px;
  }

  .divider {
    height: 0.5px;
    background: rgba(0, 0, 0, 0.2);
  }
}