.button {
  width: 100%;
  background: #24499b;
  color: white;
  border-radius: 14px;
  padding: 12px 18px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 16px;

  text-decoration: none;
  font-size: 26px;

  box-sizing: border-box;
}

.leftIcon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  flex-shrink: 0;
}

.button span {
  white-space: nowrap;
}

.plusIcon {
  width: 42px;
  height: 42px;
  object-fit: contain;
  margin-left: auto;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .button {
    font-size: 15px;
    padding: 10px 14px;
    border-radius: 12px;
    gap: 10px;

    white-space: nowrap;
    overflow: hidden;
  }

  .leftIcon {
    width: 24px;
    height: 24px;
  }

  .plusIcon {
    width: 30px;
    height: 30px;
  }
}