.card {
  width: 100%;
  background: #24499b;
  border: none;
  border-radius: 16px;
  padding: 16px 18px;

  display: flex;
  align-items: center;
  gap: 16px;

  cursor: pointer;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.iconCircle {
  width: 58px;
  height: 58px;

  background: #ffdd4a;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.iconCircle img {
  width: 34px;
  height: 34px;
  object-fit: contain;
}

.content {
  flex: 1;

  display: flex;
  flex-direction: column;

  text-align: left;
}

.content strong {
  font-family: "Bowlby One", sans-serif;
  flex: 1;
  text-align: left;
  color: #f9f9f9;

  font-size: 28px;
  line-height: 1.35;
  font-weight: 400;

  margin: 0;

  text-transform: uppercase;
}

.content small {
  margin-top: 6px;

  color: #f9f9f9;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.arrow {
  width: 24px;
}

@media (max-width: 600px) {
  .card {
    padding: 12px 14px;
    gap: 12px;
    border-radius: 14px;
  }

  .iconCircle {
    width: 48px;
    height: 48px;
  }

  .iconCircle img {
    width: 28px;
    height: 28px;
  }

  .content strong {
    font-size: 18px;
  }

  .content small {
    margin-top: 4px;
    font-size: 12px;
  }

  .arrow {
    width: 20px;
  }
}