.layout {
  width: 100%;
  max-width: 1126px;
  min-height: 100vh;

  margin: 0 auto;
  background: #f9f9f9;
}

.headerFixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 1126px;

  z-index: 10;
}

.footerFixed {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 1126px;

  z-index: 10;
}

.content {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.authContent {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .content {
    padding-top: 72px;
    padding-bottom: 90px;
  }
}