.button {
  width: 100%;

  background: #009AD5;
  color: #f9f9f9;

  border: none;
  border-radius: 14px;

  padding: 14px;

  font-family: "Bowlby One", sans-serif;
  font-size: 18px;

  cursor: pointer;
}